@import url('https://fonts.googleapis.com/css2?family=Khmer&family=Koulen&family=Poppins&display=swap');
* {
    font-family: "Poppins", serif ,"Koulen", sans-serif ;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
    scroll-padding-top: 2rem;
    scroll-behavior: smooth;

}
 /* Custom Scroll bar */
html::-webkit-scrollbar {
    width: 0.3rem;
    background: var(--main-color);
}
html::-webkit-scrollbar-thumb {
    background: var(--main-color);
}
/* some varible */
:root {
    --main-color:dodgerblue;
    --text-color:#020307;
    --bg-color:#fff;
}
body {
  background-color: var(--text-color);
  color: var(--bg-color);
 

}
section {
    padding: 4.5rem 0 1.5rem;
   
    
}

 /* MENU NAVBAR START*/

header {
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 50px;
    transition: 0.5s;
    /* background: var(--main-color); */
}
header.shadow {
    background: var(--bg-color);
    color: #020307;

}
.logo.shadow{
    color: #020307;
}


.logo {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--bg-color);
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
}


.logo .bx {
    font-size: 24px;
    color: var(--main-color);
}

.navbar {
    display: flex;
    column-gap: 5rem;
}

.navbar li {
    position: relative;
    cursor: pointer;
    color: var(--text-color);
}
.navbar a {
    font-size: 1rem;
    font-weight: 500;
    color: var(--bg-color);
}

.navbar li::after {
    content: '';
    width: 0vw;
    height: 2px;
    background: var(--main-color);
    position: absolute;
    bottom: -4px;
    left: 0;
    transition:  0.4s ease-in-out;
    
}
.navbar li:hover::after,
.navbar  .home-active::after {
    width: 100%;
}

#menu-icon {
    font-size: 24px;
    cursor: pointer;
    z-index: 100001;
    display: none;
}

.btn {
    padding: 0.7rem 1.4rem;
    background: var(--main-color);
    color: var(--bg-color);
    font-weight: 400;
    border-radius: 0.5rem;
}
.btn:hover {
    background: rgb(37, 123, 209);
}
/* MENU NAVBAR END*/

/* SLIDER BANNER START*/

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
}

.container img {
    width: 100%; /* Set width to 100% to ensure it fits within the container */
    height: 100vh;
    object-fit: cover;
    object-position: center;
    z-index: -1;
}
  /* dot for slider */
.swiper-pagination-bullet {
    width: 6px !important;
    height: 6px !important;
    border-radius: 0.2rem !important;
    background: var(--bg-color);
    opacity: 1 !important;
}
.swiper-pagination-bullet-active {
    width: 1.5rem !important;
    background: var(--main-color) !important;
}
     /* dot for slider */

     .home_text {
        position: absolute;
        top: 50%;
        left: 29%;
        transform: translate(-50%, -50%);
        text-align: center;
        color: wheat; ; /* Adjust as needed for visibility */
    }
    .home_text h1 {
        font-weight: 800;
        font-size: 2.5rem;
    }
    .home_text .btn {
        display: inline-block;
        padding: 10px 20px;
        background-color: #ff0000; /* Button color */
        color: #fff;
        text-decoration: none;
        border-radius: 5px;
        font-weight: bold;
    }
    
.play {
        position: absolute;
        right: 4rem;
        bottom: 10%;
        margin-top: 10px;
        color: #fff;
        font-size: 24px;
    }
.play .bx {
    background: var(--bg-color);
    padding: 10px;
    font-size: 2rem ;
    border-radius: 50%;
    border: 4px solid rgb(2,3,7,0.4);
    color: var(--main-color);
    cursor: pointer;
}
.play .bx:hover {
    background: var(--main-color);
    color: var(--bg-color);
    transition: 0.2s ease-in;
}
/* SLIDER BANNER END*/


/* MOVIE START */
.movies {
    width: 100vw;
}
.heading {
    border-bottom: 1px solid var(--main-color);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    text-transform: uppercase;
    font-weight: 500;
}
.movie_container {
    max-width: 1000px;
    margin-left:  auto;
    margin-right: auto;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(180px, 1fr)); /* Adjusted to ensure responsive sizing */
    gap: 1rem;
    
}


.box .box_img {
    width: 75%; /* Matches grid item width */
    height: 270px;
}

.box .box_img img {
    width: 180px;
    height: 100%;
    object-fit: cover;
   
}
.box h3,span {
    text-align: center;
    margin-right: 75px;
}
.box .box_img img:hover {
    transform: scale(1.02);
    cursor: pointer;
}

/* MOVIE  END */

/* MOVIE COMING START */

.coming {
    padding: 40px;
    text-align: center;
}

.heading {
    font-size: 2rem;
    margin-bottom: 20px;
    color: #333;
}

.coming-container {
   display: grid;
   gap: 1rem;
   max-width: 1000px;
   margin-left: auto;
   margin-right: auto;
}

.box {
    width: 250px;
    text-align: center;
    margin: 0 10px;
}

.box_img img {
    width: 100%;
    border-radius: 10px;
}
.coming-container .box h3{
    width: 180px;
    text-align: center;
}

h3 {
    margin-top: 10px;
    font-size: 1.2rem;
    color: #ffffff;
}

p {
    font-size: 0.9rem;
    color: #8377d1;
}

/* MOVIE COMING END */

/* NEWSLETTER START*/
.newsletter {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 1.5rem;

}

.newsletter h2 {
    font-size: 1.5rem;
    font-weight: 600;
    text-align: center;
}  

.newsletter form {
    background: var(--bg-color);
    padding: 10px;
    border-radius: 0.5rem;
    display: flex;
    align-items: center;
}
.newsletter form input {
    outline: none;
    border: none;
}

/* NEWSLETTER START*/


 /* FOOTER START*/

 .footer {
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

 }

 .social {
    display: flex;
    align-items: center;
    column-gap: 0.5rem;
 }
 .social .bx {
    background: var(--bg-color);
    padding: 2px;
    border-radius: 50%;
    border: 4px;
    font-size: 1.5rem;
    color: var(--main-color);
 }

 .social .bx:hover {
    background: var(--main-color);
    color: var(--bg-color);
    cursor: pointer;
    transition: 0.2s ease-in;

 }


 .copyright {
    display: flex;
    justify-content: center;
    align-items: center;
 }


  /* Responsive screen smartphone  */

  @media (max-width:910px) {

    .footer {
        flex-direction: column;
        column-gap: 2rem;
        
    }
    .social .bx  {
       margin-top: 1rem;
    }
    #menu-icon  {
        display: initial;
        margin-right: 27px;
        transition: 0.2s ease-in;
       
    }
    #menu-icon:hover {
        color: var(--main-color);
    }

    .navbar {
        position: absolute;
        height: auto;
        top: -570px;
        left: 0;
        right: 0;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        background: var(--bg-color);
        text-align: center;
        transition: 0.2s ease-in;
        cursor: pointer;

    }
    .navbar a {
        background: var(--bg-color);
    }
  
    .home_text {
        padding: 10px;
    }
    header.shadow {
        height: 70px;
    
    }
    .navbar li::after {
        display: none;
    }
    .navbar .menulink {
        color: var(--text-color);
    }
    .navbar li:hover {
       color: var(--main-color);
    }


    .navbar.active {
        top: 70px;
        
    }
  }